* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1rem;
}
p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

body {
  background-color: rgb(233, 235, 238);
}
.coverPhoto {
  margin: 0 5rem;
  position: absolute;
  z-index: -1;
}
.coverPhoto > #coverPhoto {
  width: 80rem;
  height: 20rem;
  z-index: -1;
}
.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.profilePhoto{
  position: relative;
}
.profilePhoto > img {
  position: absolute;
  width: 15rem;
  height: 15rem;
  border-radius: 15rem;
  border: 0.23rem #fff solid;
  margin-top: 8rem;
  margin-left: 7rem;
}
#editProfilePhoto{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15.5rem;
  margin-left: 7rem;
  z-index: 100;
  position: absolute;
  width: 15rem;
  height: 7.5rem;
  background: #000;
  border-radius: 0 0 15rem 15rem;
  opacity: 0.8;
  cursor: pointer;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  
}

#editProfilePhoto{
  display: none;
}
.notification>button{
  background-color: #000;
  color: #fff;
}
.notification {
  position: absolute;
  width: 10rem;
  height: 2rem;
  z-index: 1;
  top: 0;
  right: 0;
  margin: 15rem 0 0 0;
  margin-right: 7rem;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
  border-radius: 0.2rem;
  cursor: pointer;
}
.notification > .appoinment {
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  padding-top: 0.2rem;
  border-radius: 0.2rem;
  background-color: red;
  color: #fff;
  cursor: pointer;
}
.category {
  margin: 0 5rem;
  margin-top: 25rem;
  display: flex;
  flex-direction: row;
}
.information {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.1rem;
  width: 25rem;
}
.bio {
  margin: 1rem 2rem;
  position: relative;
}
/*---------------- Edit Profile-------------- */
.dataEntry{
  display: flex;
  flex-direction: column;
  top: 10%;
  left: 30%;
  background-color: #fff;
  width: 35rem;
  height: 40rem;
  border: rgb(0, 0, 0, 0.9);
  box-shadow: 1px 1px 1px 1px;
  z-index: 100;
  position: fixed;
}
.closeEditProfile,
.closeAddDoctorInfo,
.closeEditDoctorInfo,
.closeAddHospitalPhoto,
.closeEditHospitalPhoto,
.closeEditBlood,
.closeAddProfilePhoto,
.closeEditProfilePhoto,
.closeEditCoverPhoto,
.closeAddCoverPhoto,
.closeAddBloodG
{
  position: absolute;
  right: 10px;
  top: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: red;
  font-size: 1.3rem;
  cursor: pointer;

}
.dataEntry>.h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  margin: 0.5rem;
  text-align: center;
}
.dataEntry>form{
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dataEntry>form>input,
.dataEntry>form>textarea,
.dataEntry>form>button,
.dataEntry>form>select{
  margin: 0.6rem;
  width: 20rem!important;
  height: 3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
  padding: 0.5rem;
  outline: none;
}
.dataEntry>form>textarea{
  height: 4rem !important;
}
.dataEntry>form>label{
  font-size: 1.1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.editProfilePhoto,
.editCoverPhoto,
.addCoverPhoto,
.addProfilePhoto,
.addBloodG{
  height: 17rem;
}

.addDoctorInfo,
.editDoctorInfo{
  height: 23rem;
  overflow: auto;
}
.editProfile{
  overflow: auto;
}

.editProfile{
  display: none;
}
.editDoctorInfo{
  display: none;
}
.addDoctorInfo{
  display: none;
}
.addBloodG{
  display: none;
}
.addHospitalPhoto{
  display: none;
}
.editHospitalPhoto{
  display: none;
}
.editBlood{
  display: none;
}
.editProfilePhoto{
  display: none;
}
.editCoverPhoto{
  display: none;
}
.addCoverPhoto{
  display: none;
}
.addProfilePhoto{
  display: none;
}
.bio > #desc {
  margin-top: 0.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bio > p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 0.3rem;
  font-size: 1.2rem;
}
.bio > p > span {
  font-size: 1.5rem;
  color: #004e92;
}
.listOfPhoto {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}
.Hospitalphotos > .listOfPhoto > img {
  width: 11rem;
  height: 10rem;
  margin: 0.1rem;
}
.heading{
  display: flex;
}
.heading>p{
  margin: 0 0.9rem;

}
.Hospitalphotos > p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
  margin-left: 1.1rem;
}
.bio > button {
  margin-top: 1rem;
  width: 20rem;
  height: 2rem;
}

.operations {
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 235, 238);
  margin-left: 1rem;
  width: 50rem;
}
.services {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.addServices,
.removeServices {
  width: 26rem;
  height: 20rem;
  background-color: #fff;
  margin: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.addServices,
.removeServices > p {
  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.heading {
  
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.addServices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addServices > .items,
.removeServices > .items {
  display: flex;
  flex-wrap: wrap;
}
.item>form>select{
  width: 10rem;
  height: 2.3rem;
}
.item>form>button{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background-color: black;
  width: 10rem;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 0.9rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: pointer;
  font-size: 1rem;
}
.bloods {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0.5rem;
}

.blood {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  background-color: #fff;
  margin: 0 0.5rem;
}
.blood > p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  margin: 0.8rem 0;
}
.blood > button {
  width: 5rem;
  height: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
}

.doctors {
  display: flex;
  flex-direction: row;
  margin: 0 0.5rem;
}
.addDoctor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 15rem;
  border: #004e92 solid 1px;
  border-radius: 0.5rem;
  margin: 0 0.5rem;
  cursor: pointer;
}
.addDoctor > p {
  font-size: 3rem;
}
.doctor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15rem;
  height: 100%;
  background-color: #fff;
  cursor: pointer;
  text-align: center;
}
.doctor > .doctorInfo {
  text-align: center;
  font-family: 0.9rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.doctor > .doctorInfo > img {
  width: 9rem;
  height: 9rem;
}
.doctor > .edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.doctor > .edit > button {
  width: 5rem;
  height: 2rem;
  margin: 0.1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
}
